@using Hirportal.Models

@model Article

@{ 
    ViewData["Title"] = Model?.Title ?? "Not Found";
}

<article id="main-article">
    @if (Model == null)
    {
        <p>Oops! This article does not exist!</p>
    }
    else
    {
        @if (Model.Images.Any())
        {
            <a href="@Url.Action("Gallery", "Home", new { id = Model.Id })">
                <img src="@System.IO.Path.Combine(ViewBag.ImagePath, Model.Images.First().MediumPath)" alt="@Model.Title" />
            </a>
        }
        <h1>@Model.Title</h1>
        <div id="article-meta">
            <span id="article-date">@Model.Modified.ToString("yyyy.MM.dd HH:mm")</span>
            <span id="article-author">@Model.Author.Name</span>
        </div>
        <div id="article-content">
            @Model.Content
        </div>
    }
</article>
