@using Hirportal.Models;

@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div id ="index-container">
    @if (Model.LeadingArticle != null)
    {
        <article id="leading-article">
            <img src="@Model.LeadingArticle.ImagePath" alt="@Model.LeadingArticle.Article.Title" />
            <div id="leading-article-text">
                <h2 class="article-title">
                    <a href="@Url.Action( "Article", "Home",new { id = Model.LeadingArticle.Article.Id})">
                        @Model.LeadingArticle.Article.Title
                    </a>
                </h2>
                <p class="article-description">@Model.LeadingArticle.Article.Description</p>
            </div>
        </article>
    }
    @foreach(HomeViewModel.ArticleViewModel article in Model.Articles)
    {
        <article>
            <h3 class="article-title">
                <a href="@Url.Action("Article", "Home", new { id = article.Id})">
                    @article.Title
                </a>
            </h3>
            <p class="article-description">@article.Description</p>
        </article>
    }
</div>
